body{
	background-color: #DBCED4;
}
div.reservation{
		margin-top: 100px;
		width: 1000px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
}
h1{
	color: #330033;
	font: 28pt arial, sans-serif;
}
h1:after{
    content:' ';
    display:block;
    border:1px dotted #330033;
}

p.error{
	color:red;
}

h4{
	display:inline;
}